<div class="form-container">
	<form [formGroup]="formGroup" class="flex-container" autocomplete="off">
		<mat-form-field appearance="standard">
			<mat-label>EMAIL</mat-label>
			<input matInput formControlName="Email" placeholder="EMAIL" type="email">
			<mat-icon matSuffix>email</mat-icon>
		</mat-form-field>
		<mat-form-field appearance="standard">
			<mat-label>PASSWORD</mat-label>
			<input matInput formControlName="Password" placeholder="PASSWORD" type="password">
			<mat-icon matSuffix>lock</mat-icon>
		</mat-form-field>
		<button type="button" mat-flat-button color="primary" (click)="onLogin_Click()"> LOGIN </button>
		<button type="button" mat-button class="font-size-sm" (click)="onRegister_Click()"> REGISTER NEW ACCOUNT
		</button>
		<button type="button" mat-button class="font-size-sm" (click)="onForgotPassword_Click()"> FORGOT PASSWORD
		</button>
	</form>
</div>