/* .nobetween-btn {
    width: 200px;
    font-size: 12px;
}

.nobetween-btn-small {
    width: 200px;
    font-size: 10px;
    color: #7f7f7f;
}

.nobetween-btn:hover {
    color: #7f7f7f;
}

.nobetween-btn-small:hover {
    color: #FFFFFF;
} */