.register-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    gap: 7px 7px;
    padding: 3px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}