@import '../assets/themes.scss';

.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.flex-container {
    display: flex;
    gap: 7px 7px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid theme-color($nobetween-app-theme, primary, 400) !important;
    padding: 16px;
    margin: 4px;
}

.borderless-flex-container {
    display: flex;
    gap: 7px 7px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.font-size-sm {
    font-size: 10px;
}

.nobetween-info {
    color: theme-color($nobetween-app-theme, primary, 100) !important;
}