<form [formGroup]="formGroup" class="form-container" autocomplete="off">
    <div class="flex-container">
        <mat-form-field>
            <mat-label>COURSE</mat-label>
            <mat-select formControlName="Course">
                <mat-option *ngFor="let course of vmCourse" [value]="course.value">
                    {{ course.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button type="button" mat-flat-button color="primary" (click)="onUpdate_Click()">
            UPDATE
        </button>
    </div>
    <div class="dashboard-container">
        <span class="dashboard-container-title"> ADD COURSE/CLUB
        </span>
    </div>
    <div class="flex-container">
        <mat-form-field>
            <mat-label>Course/Club Code</mat-label>
            <input matInput formControlName="ClubCode" placeholder="COURSE/CLUB CODE">
        </mat-form-field>

        <mat-form-field>
            <mat-label>ACCESS LEVEL</mat-label>
            <mat-select formControlName="AccessLevel">
                <mat-option *ngFor="let level of vmAcess" [value]="level.value">
                    {{ level.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button type="button" mat-flat-button color="primary" (click)="onAdd_Click()">
            ADD
        </button>
    </div>
</form>