.golf-icon {
    margin: 8px;
    cursor: pointer;
    color: #FFFFFF;
}

.dashboard-header-container {
    vertical-align: middle;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 40px;
}

.dashboard-header-title {
    color: #FFFFFF;
    margin-left: 24px;
}

.dashboard-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.dashboard-container-title {
    color: #FFFFFF;
    margin-left: 8px;
    margin-top: 10px;
}