<mat-icon class="golf-icon" (click)="showMenu()"> golf_course </mat-icon>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav-panel">
        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Name Placeholder
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item (click)="navTo('profile')">
                    <span> Profile </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('profile/change-course')">
                    <span> Change Course/Club </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('profile/training-library')">
                    <span> Training Library </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('profile/help-desk')">
                    <span> Help Desk </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-nav-list dense>
            <mat-list-item (click)="navTo('fleet-management')">
                <span> Fleet Management </span>
            </mat-list-item>
            <mat-list-item (click)="navTo('trends-analysis')">
                <span> Trends & Analysis </span>
            </mat-list-item>
            <mat-list-item (click)="navTo('special-events')">
                <span> Special Events </span>
            </mat-list-item>
            <mat-list-item (click)="navTo('advertising')">
                <span> Advertising </span>
            </mat-list-item>
        </mat-nav-list>
        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Course / Club Layout
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item (click)="navTo('course-layout/courses')">
                    <span> Courses </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/holes')">
                    <span> Holes </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/tees')">
                    <span> Tees </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/scoresheet')">
                    <span> Scoresheet </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/pin-location')">
                    <span> Pin Location </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/tee-location')">
                    <span> Tee Location </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/approach-shot')">
                    <span> Approach Shot </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/geofence-type')">
                    <span> Geofence Type </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/geofence-area')">
                    <span> Geofence Area </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('course-layout/default-tee-time')">
                    <span> Default Tee-Time </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Configuration & Preferences
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item (click)="navTo('configuration/pin-location')">
                    <span> Pin Location </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('configuration/games')">
                    <span> Games </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('configuration/commentary')">
                    <span> Commentary </span>
                </mat-list-item>
                <mat-list-item (click)="navTo('configuration/geofencing')">
                    <span> Geofencing </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Administrator
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item (click)="navTo('administrator/account-management')">
                    <span> Account Management </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-nav-list dense>
            <mat-list-item (click)="navTo('login')">
                <span> Logout </span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (click)="sidenav.close()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>