<mat-icon class="golf-icon" (click)="showMenu()"> golf_course </mat-icon>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav-panel">

        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Name Placeholder
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item>
                    <span (click)="navTo('profile')"> Profile </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('profile/change-course')"> Change Course/Club </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('profile/training-library')"> Training Library </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('profile/help-desk')"> Help Desk </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-nav-list dense>
            <mat-list-item>
                <span (click)="navTo('fleet-management')"> Fleet Management </span>
            </mat-list-item>

            <mat-list-item>
                <span (click)="navTo('trends-analysis')"> Trends & Analysis </span>
            </mat-list-item>

            <mat-list-item>
                <span (click)="navTo('special-events')"> Special Events </span>
            </mat-list-item>

            <mat-list-item>
                <span (click)="navTo('advertising')"> Advertising </span>
            </mat-list-item>
        </mat-nav-list>

        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Course / Club Layout
                </mat-panel-title>
            </mat-expansion-panel-header>


            <mat-nav-list dense>
                <mat-list-item>
                    <span (click)="navTo('course-layout/courses')"> Courses </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/holes')"> Holes </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/tees')"> Tees </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/scoresheet')"> Scoresheet </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/pin-location')"> Pin Location </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/tee-location')"> Tee Location </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/approach-shot')"> Approach Shot </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/geofence-type')"> Geofence Type </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/geofence-area')"> Geofence Area </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('course-layout/default-tee-time')"> Default Tee-Time </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Configuration & Preferences
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item>
                    <span (click)="navTo('configuration/pin-location')"> Pin Location </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('configuration/games')"> Games </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('configuration/commentary')"> Commentary </span>
                </mat-list-item>
                <mat-list-item>
                    <span (click)="navTo('configuration/geofencing')"> Geofencing </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title class="expansion-title">
                    Administrator
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item>
                    <span (click)="navTo('administrator/account-management')"> Account Management </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>

        <mat-nav-list dense>
            <mat-list-item>
                <a matLine href="login" class="menu-link"> Logout </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (click)="sidenav.close()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>