@import 'custom-theme-test.scss';

.mat-table {
    width: 95%;
    // border: 1px solid #31538f;
    margin: 0 auto;

    .mat-header-cell {
        background-color: theme-color($my-app-theme, primary, 500) !important;
        color: #FFF;
        border-left: 1px solid theme-color($my-app-theme, primary, 300) !important;
        border-bottom: 1px solid theme-color($my-app-theme, primary, 300) !important;
        padding-left: 8px !important;
        font-size: 14px;
    }

    .mat-row:nth-child(odd) {
        background-color: theme-color($my-app-theme, primary, 700) !important;
    }

    .mat-row:not(even) {
        background-color: theme-color($my-app-theme, primary, 500) !important;
    }

    .mat-cell {
        color: #c1c1c1;
        border-left: 1px solid theme-color($my-app-theme, primary, 300) !important;
        padding-left: 8px !important;
    }

    .table-link {
        // color: #bf9014c4;
        padding-left: 4px;
        margin-left: 4px;
    }

    .table-link:hover {
        // color: #bf9014;
        text-decoration: underline;
        cursor: pointer;
    }
}