@import 'themes';

.mat-mdc-table {
    width: 95%;
    border: 1px solid theme-color($nobetween-app-theme, primary, 300) !important;
    ;
    margin: 0 auto;

    .mat-mdc-header-cell {
        background-color: theme-color($nobetween-app-theme, primary, 900) !important;
        color: theme-color($nobetween-app-theme, primary, 50) !important;
        ;
        border-left: 1px solid theme-color($nobetween-app-theme, primary, 300) !important;
        border-bottom: 1px solid theme-color($nobetween-app-theme, primary, 300) !important;
        padding-left: 8px !important;
        font-size: 14px;
    }

    .mat-mdc-row:nth-child(odd) {
        background-color: theme-color($nobetween-app-theme, primary, 800) !important;
    }

    .mat-mdc-row:not(even) {
        background-color: theme-color($nobetween-app-theme, primary, 900) !important;
    }

    .mat-mdc-cell {
        color: theme-color($nobetween-app-theme, primary, 100) !important;
        border-left: 1px solid theme-color($nobetween-app-theme, primary, 300) !important;
        padding-left: 8px !important;
    }

    .action-column {
        width: 208px !important;
    }
}