@import './grid-styles.scss';
@import 'custom-theme-test.scss';

.mat-button {
    width: 200px;
}

.mat-flat-button {
    width: 200px;
}

mat-form-field {
    width: 200px;
    font-size: 12px !important;
    color: #FFFFFF;
}

mat-sidenav-container {
    height: 90%;
    width: 100%;
    background-color: theme-color($my-app-theme, primary, 900) !important;

    mat-sidenav {
        border-right: 1px solid theme-color($my-app-theme, primary, 300) !important;
        background-color: theme-color($my-app-theme, primary, 700) !important;
        position: fixed !important;
    }
}

mat-list-item {
    display: flex !important;
}

mat-expansion-panel {
    background: theme-color($my-app-theme, primary, 700) !important;
    box-shadow: none !important;
    border-radius: 0px !important;

    mat-expansion-panel-header {
        padding: 0 16px !important;
        height: 40px !important;

        .mat-expanded {
            height: 40px !important;
        }

        mat-panel-title {
            font-size: 12px !important;
        }
    }

    .mat-expansion-panel-body {
        padding: 0 24px !important;
    }
}