@import './grid-styles.scss';

.mat-button {
    width: 200px;
    color: #c1c1c1;

    :hover {
        color: #FFFFFF;
    }
}

.mat-flat-button {
    width: 200px;
    background-color: #272f3c;
    color: #c1c1c1;

    :hover {
        color: #FFFFFF;
    }
}

.mat-flat-button:disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.mat-flat-button:hover {
    color: #FFFFFF;
}

.mat-form-field {
    width: 200px;
    font-size: 12px;
    color: #FFFFFF;

    input::placeholder {
        color: #c1c1c1;
    }

    .mat-input-element {
        color: #c1c1c1;
    }

    .mat-form-field-label {
        color: #c1c1c1;
    }

    .mat-form-field-underline {
        background-color: #c1c1c1;
    }

    .mat-form-field-ripple {
        background-color: #c1c1c1;
    }

    .mat-form-field-required-marker {
        color: #c1c1c1;
    }

    .mat-select-value-text {
        color: white;
    }
}

.mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #FFFFFF;
    }

    .mat-form-field-ripple {
        background-color: #FFFFFF;
        ;
    }

    .mat-form-field-required-marker {
        color: #FFFFFF;
        ;
    }

    .mat-input-element {
        color: #FFFFFF;
    }
}


.mat-form-field:hover {
    .mat-form-field-label {
        color: #FFFFFF;
    }

    .mat-form-field-ripple {
        background-color: #FFFFFF;
    }

    .mat-form-field-required-marker {
        color: #FFFFFF;
    }

    .mat-input-element {
        color: #FFFFFF;
    }
}

.mat-select-arrow {
    color: #c1c1c1;
}

mat-icon {
    color: #c1c1c1;
}