@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import './assets/custom-theme-test.scss';
@import './assets/mat-override.scss';


html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: theme-color($my-app-theme, primary, 50) !important;
    background-color: theme-color($my-app-theme, primary, 900) !important;
    ;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: theme-color($my-app-theme, primary, 50) !important;
}