@import 'themes';
@import './grid-styles.scss';

.mdc-button {
    width: 200px;
}

.mdc-flat-button {
    width: 200px;
}

mat-form-field {
    width: 200px;
    font-size: 12px !important;
    color: theme-color($nobetween-app-theme, primary, 50) !important;

    .mdc-notched-outline__leading {
        border-color: theme-color($nobetween-app-theme, primary, 300) !important;
    }

    .mdc-notched-outline__notch {
        border-color: theme-color($nobetween-app-theme, primary, 300) !important;

        .mdc-floating-label {
            color: theme-color($nobetween-app-theme, primary, 300) !important;
        }
    }

    .mdc-notched-outline__trailing {
        border-color: theme-color($nobetween-app-theme, primary, 300) !important;
    }

    input {
        caret-color: white !important;
    }
}

mat-sidenav-container {
    height: 90%;
    width: 100%;
    background-color: theme-color($nobetween-app-theme, primary, 900) !important;

    mat-sidenav {
        border-right: 1px solid theme-color($nobetween-app-theme, primary, 300) !important;
        background-color: theme-color($nobetween-app-theme, primary, 500) !important;
        position: fixed !important;
    }
}

mat-list-item {
    display: flex !important;
}

mat-expansion-panel {
    background: theme-color($nobetween-app-theme, primary, 500) !important;
    box-shadow: none !important;
    border-radius: 0px !important;

    mat-expansion-panel-header {
        padding: 0 16px !important;

        mat-panel-title {
            font-size: 12px !important;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s !important;
}